body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
    background: #fff;
    margin: 2rem auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 2rem; /* Add margin-top to separate footer from main content */
    box-sizing: border-box;
}

.profile-image {
    max-width: 100%;  /* Set the maximum width of the image */
    height: auto;      /* Maintain the aspect ratio */
    display: block;    /* Make the image a block element */
    margin: 0 auto;    /* Center the image horizontally */
}