<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
    <header>
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/notes">Notes</a></li>
                <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                <li><a href="https://github.com/myang13ff14">GitHub Profile</a></li>
                <li><a href="https://www.fflogs.com/character/na/behemoth/yiyi%20song">FF14 player log</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
    </footer>
</body>
</html>

